/* ------------------------------------ MAIN PROPERTIES */
{
  font-family: "bahnschrift";
  /* outline: 1px solid; */
  /* margin: 5px; */
}

#nav-id .b02 {
  background: #a11010;
  color: #ffffff;
}

#main-id {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.vtext {
  writing-mode: sideways-lr;
  text-orientation: sideways;
  text-align: center;
  padding: 0.4rem;
  background: #8b1313;
  color: rgb(255, 244, 244);
  border: 1px solid rgb(0, 0, 0);
}

/* ------------------------------------ DROPDOWN MENU -----------------------------------*/

.TP-list, .TIPE-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
  gap: 0.3em;
}

.TP-list .row, .TIPE-list .row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  padding: 0.3rem;
  justify-content: space-between; 
  border: 1px solid rgb(0, 0, 0);
  margin-left: 0.5rem;
}

#TIPE-text {
  text-align: justify;
  margin-left: 0.5rem;
}

/* Buttons at the right */
.TP-name a {
  padding: 0.2rem;
  color: white;
  background-color: #a72121;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.2rem;
  white-space: nowrap;
}

.TP-name a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}