/* ------------------------------------ MAIN PROPERTIES */
* {
  font-family: "bahnschrift";
  outline: 1px solid;
  /* margin: 5px; */
}

#nav-id .b01 {
  background: #a11010;
  color: #ffffff;
}

/* ------------------------------------ CHAPTER LISTS -----------------------------------*/

.vtext {
  writing-mode: sideways-lr;
  text-orientation: sideways;
  text-align: center;
  padding: 0.4rem;
  background: #8b1313;
  color: rgb(255, 244, 244);
  border: 1px solid rgb(0, 0, 0);
}

.chap-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
  gap: 0.3em;
}

.chap-list .row {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-basis: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

#main-id {
  display: flex;
  flex-wrap: wrap;
}

#main-id section {
  flex-basis: 30em;
  flex-grow: 1;
  flex-shrink: 1;
}

.chap-list :hover{
  cursor: pointer;
  background-color: #d12b2b;
}

#b1,#b2,#b3,#b4,#b5,#b6,#b7,#b8,#b9,#b10,#b11,#b12,#b13,#b14,#b15,#b16,#b17,#b18,#b19,#b20,#b21,#b22,#b23,#b24 {
  display: none;
}



