* {
    font-family: "bahnschrift";
    outline: 1px solid;
    /* margin: 5px; */
}

/* ALL ROWS ARE FLEX-CONTAINERS */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

::selection {
    color: rgb(160, 0, 0);
    background-color: rgba(255, 255, 255, 0.425);
}
  
body {
    background-image: url("images_01/bkg_094.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p {
    text-align: justify;
}

.nowrap {
    flex-wrap: nowrap;
}

.nowrap-text {
    white-space: nowrap;
    overflow: hidden;
}

.baseline {
    align-items: baseline;
}

#logo-box {
    flex-basis: fit-content;
    flex-grow: 0;
}

#logo {
    width: 8em;
    padding: 0em;
    margin-bottom: -0.3em;
}

/* WHEN THE SCREEN IS LARGE */
@media screen and (min-width: 700px) {
    main {
        /* the text fits into the right part of the screen no matter how thin */
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
    }
    nav {
        /* the navigation panel stays at a width of 10em*/
        flex-basis: 10em;
        flex-grow: 0;
        flex-shrink: 0;
        padding: 0.5rem;
    }
}

/* WHEN THE SCREEN IS NARROW */
@media screen and (max-width: 700px) {
    nav {
        /* The navigation pannel now occupies 100% of the width (and the main goes below) */
        flex-basis: 100%;
        flex-grow: 1;
        gap: 0.5rem;
        padding: 0.5rem;
    }
    
    #nav-id {
        /* The navigation panel is now a flexbox container */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav a {
        /* Size and behaviour of the items in the flexbox container */
        flex-basis: 10em;
        flex-grow: 1;
        flex-shrink: 0;
    }
}

/* GENERAL STYLE AND BOXES */

h1, h2, h3, h4 {
    margin: 0rem;
    padding: 0rem;
}

#title-box {
    margin: 0rem;
    padding: 0rem;
    padding-left: 0.5rem;
}

#title-box #page-title, #title-box #page-subtitle {
    margin-right: 0.3rem;
    margin-bottom: 0.5rem;
}