/* ------------------------------------ MAIN PROPERTIES */
{
  font-family: "bahnschrift";
  /* outline: 1px solid; */
  /* margin: 5px; */
}

#nav-id .b06 {
  background: #a11010;
  color: #ffffff;
}

#main-id {
  gap: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

/* ------------------------------------ DROPDOWN MENU -----------------------------------*/

section {
  flex-basis: 25em;
  flex-grow: 1;
  flex-shrink: 1;
  gap: 0.5rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
  gap: 0.5em;
}

.item-list .row {
  display: flex;
  flex-basis: 100%;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  justify-content: space-between; 
  border: 1px solid rgb(0, 0, 0);
  padding: 0.5rem;
  gap: 1rem;
}

#TIPE-text {
  text-align: justify;
  margin-left: 0.5rem;
}

/* Buttons at the right */
.item a {
  padding: 0.2rem;
  color: white;
  background-color: #a72121;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.2rem;
  white-space: nowrap;
}

.item a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}