* {
    font-family: "bahnschrift";
    outline: 1px solid;
    margin: 5px;
}

::selection {
    color: rgb(160, 0, 0);
    background-color: rgba(255, 255, 255, 0.425);
}
  
body {
    background-image: url("images_01/bkg_094.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.col {
flex-basis: 100%;
}

.nowrap {
    flex-wrap: nowrap;
}

.nowrap-text {
    white-space: nowrap;
    overflow: hidden;
}

.baseline {
    align-items: baseline;
}

#logo-box {
    flex-basis: fit-content;
    flex-grow: 0;
}

#logo {
    width: 8em;
    padding: 0em;
    margin-bottom: -0.3em;
}

#nav-panel {
    flex-basis: 10em;
    flex-grow: 0;
    flex-shrink: 0;
}

@media screen and (min-width: 700px) {
    .col {
        flex: 1;
    }
}

@media screen and (max-width: 700px) {
    #nav-panel {
        flex-basis: 10em;
        flex-grow: 1;
        flex-shrink: 0;
    }
}