/* ------------------------------------ MAIN PROPERTIES */
* {
  font-family: "bahnschrift";
  /* outline: 1px solid; */
  /* margin: 5px; */
}

#nav-id .b05 {
  background: #a11010;
  color: #ffffff;
}

/* ------------------------------------ CHAPTER LISTS -----------------------------------*/

#main-id {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

section {
  flex-basis: 100%;
  gap: 0.5em;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-basis: 100%;
  gap: 0.5rem;
}

.item-list .item {
  display: flex;
  flex-basis: 100%;
  justify-content: left;
  align-items: center;
  padding: 0.5rem;
  justify-content: space-between; 
  border: 1px solid rgb(0, 0, 0);
}

.item {
  gap: 0.5rem;
  flex-wrap: wrap;
}

/* Buttons at the right */
.item a {
  padding: 0.2rem;
  margin-left: 0.5rem;
  color: white;
  background-color: #a72121;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.2rem;
  white-space: nowrap;
  align-self: flex-end;
}

.item a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  cursor: pointer;
}