* {
    font-family: "bahnschrift";
    /* outline: 1px solid; */
    /* margin: 5px; */
}

/* ALL ROWS ARE FLEX-CONTAINERS */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header-id {gap: 0.5rem;}
#nav-main {
    gap: 0.5rem;
    margin-top: 0.5rem;
}

::selection {
    color: rgb(160, 0, 0);
    background-color: rgba(255, 255, 255, 0.425);
}
  
body {
    background-image: url("images_01/bkg_094.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1200px;
}

/* ------------------------ SMALL CLASSES --------------------- */
/* ------------------------ SMALL CLASSES --------------------- */
/* ------------------------ SMALL CLASSES --------------------- */

.nowrap {flex-wrap: nowrap;}
.baseline {align-items: baseline;}

.nowrap-text {
    white-space: nowrap;
    overflow: hidden;
}


/* --------------- CRITICAL CLASSES (WITH FLEX PARAMETERS) --------------- */
/* --------------- CRITICAL CLASSES (WITH FLEX PARAMETERS) --------------- */
/* --------------- CRITICAL CLASSES (WITH FLEX PARAMETERS) --------------- */

#logo-box {
    flex-basis: fit-content;
    flex-grow: 0;
}

#nav-id {
    /* The navigation panel is a flexbox container (even if it is a column) */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
}

.nav-button {
    /* Size and behaviour of the items in the flexbox container */
    flex-basis: 7em;
    flex-grow: 1;
    flex-shrink: 0;
}

main {
        /* the text grows to fill the right part of the screen */
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0rem 0rem 0rem 0rem;
    }

/* ---------------------------- SCREEN RESIZING ------------------------- */
/* ---------------------------- SCREEN RESIZING ------------------------- */
/* ---------------------------- SCREEN RESIZING ------------------------- */
/* WHEN THE SCREEN IS LARGE */
@media screen and (min-width: 601px) {
    #nav-main {
        flex-wrap: nowrap;
    }
    nav {
        /* the navigation panel stays at a fixed width */
        flex-basis: 9em;
        flex-grow: 0;
        flex-shrink: 0;
    }
    #header-id {
        font-size: medium;
    }
}

/* WHEN THE SCREEN IS NARROW */
@media screen and (max-width: 600px) {
    #nav-main {
        flex-wrap: wrap;
    }
    nav {
        /* The navigation pannel now occupies 100% of the width (and the main goes below) */
        flex-basis: 100%;
        flex-grow: 1;
    }
    .nav-button {
        flex-basis: 10em;
        display: block;
        text-align: center;
        font-size: 18px;
    }
    #header-id {
        font-size: 12px;
    }
}


/* ---------------------- PROPERTIES OF CLICKABLE ELEMENTS ---------------------- */
/* ---------------------- PROPERTIES OF CLICKABLE ELEMENTS ---------------------- */
/* ---------------------- PROPERTIES OF CLICKABLE ELEMENTS ---------------------- */

a {
    text-decoration: none;
    color: #000000;
}

#logo:hover {filter: drop-shadow(0rem 0rem 0.5rem #000000);}
#title-box a:hover {filter: drop-shadow(0px 0px 1px #00000081);}
.nav-button:hover {background-color: #d12b2b;}


/* ---------------------- GENERAL AESTHETIC ELEMENTS ---------------------- */
/* ---------------------- GENERAL AESTHETIC ELEMENTS ---------------------- */
/* ---------------------- GENERAL AESTHETIC ELEMENTS ---------------------- */

h1, h2, h3, h4 {
    margin: 0rem;
    padding: 0rem;
    margin-right: 0.3rem;
}

p {
    text-align: justify;
    margin: 0rem;
}

#title-box {
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 0em 5em 0em 0em; */
    backdrop-filter: blur(5px);
    padding: 0.5rem;
    /* padding-left: 0.5rem; */
    flex-grow: 1;
}

#title-box a, #title-box a {
    margin-bottom: 0.5rem;
}

#logo-box {
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 0% 0% 0% 39%; */
    backdrop-filter: blur(5px);
}

#logo {
    width: 9em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: -0.3em; /* corrects a slight vertical offset due to the link inside the image */
}

#nav-id {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0em 0em 0em 0em;
    backdrop-filter: blur(5px);
}

.nav-button {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0.2em;
    padding: 0.3rem 0.3rem 0.3rem 0.6rem;
    backdrop-filter: blur(5px);
}

section {
    border: 1px solid rgb(0, 0, 0);
    backdrop-filter: blur(20px);
    padding: 0.5rem;
}

#LW-text {
    margin-top: 0.5rem;
}

#LW-text h3, #LW-text p {
    margin-bottom: 0.5rem;
    color: #1b1b1b;
}

footer {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0em 0em 0em 0em;
    backdrop-filter: blur(20px);
    padding: 0.2rem 0rem 0.2rem 0.5rem;
    margin-top: 0.5rem;
}