* {
    font-family: "bahnschrift";
    outline: 1px solid;
    /* margin: 5px; */
}

/* ALL ROWS ARE FLEX-CONTAINERS */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

::selection {
    color: rgb(160, 0, 0);
    background-color: rgba(255, 255, 255, 0.425);
}
  
body {
    background-image: url("images_01/bkg_094.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nowrap {
    flex-wrap: nowrap;
}

.nowrap-text {
    white-space: nowrap;
    overflow: hidden;
}

.baseline {
    align-items: baseline;
}

#logo-box {
    flex-basis: fit-content;
    flex-grow: 0;
}

#logo {
    width: 8em;
    padding: 0em;
    margin-bottom: -0.3em;
}

#nav-id {
    /* The navigation panel is a flexbox container (even if it is a column) */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 0.5rem;
    padding: 0.5rem;
}

.nav-button {
    /* Size and behaviour of the items in the flexbox container */
    flex-basis: 7em;
    flex-grow: 1;
    flex-shrink: 0;
}

main {
        /* the text grows to fill the right part of the screen */
        flex-basis: 0%;
        flex-grow: 1;
        flex-shrink: 1;
        padding: 0rem 0rem 0rem 0.5rem;
        margin: 0rem;
    }

/* WHEN THE SCREEN IS LARGE */
@media screen and (min-width: 600px) {
        nav {
        /* the navigation panel stays at a fixed width */
        flex-basis: 7em;
        flex-grow: 0;
        flex-shrink: 0;
    }
}

/* WHEN THE SCREEN IS NARROW */
@media screen and (max-width: 600px) {
    nav {
        /* The navigation pannel now occupies 100% of the width (and the main goes below) */
        flex-basis: 100%;
        /* flex-grow: 1; */
    }    
}

/* GENERAL STYLE AND BOXES */

header h1, header h2, header h3, header h4 {
    margin: 0rem;
    padding: 0rem;
    margin-right: 0.3rem;
}

#title-box {
    margin: 0rem;
    padding: 0rem;
    padding-left: 0.5rem;
}

#title-box a, #title-box a {
    margin-bottom: 0.5rem;
}

p {
    text-align: justify;
    margin: 0rem;
}
